{{#if closable}}
    <i class="close icon"></i>
{{/if}}
{{#if title}}
    <div class="header">
      {{title}}
    </div>
{{/if}}
<div class="content">
  {{#if isPrompt}}
      <div class="ui form">
          <div class="{{'ui field input'}} {{if labelValue 'labeled'}}">
            {{#if labelValue}}
                <div class="ui label">
                  {{labelValue}}
                </div>
            {{/if}}
            {{input type="text" placeholder=promptPlaceholder value=promptValue}}
          </div>
      </div>
  {{/if}}
</div>

<div class="actions">
    <div class="custom-footer" style="float: left"></div>
  {{#unless isAlert}}
      <div class="ui basic deny button">
        {{cancel}}
      </div>
  {{/unless}}
    <div class="ui positive primary right button">
      {{ok}}
    </div>
</div>